.vagrant
.vscode
.vdi
learn6_zfs/sata8.vdi
learn6_zfs/sata7.vdi
learn6_zfs/sata6.vdi
learn6_zfs/sata5.vdi
learn6_zfs/sata4.vdi
learn6_zfs/sata4.vdi
learn6_zfs/sata3.vdi
learn6_zfs/sata2.vdi
learn6_zfs/sata1.vdi
