
*.iso
.vagrant/
*.vdi
.git
.vscode
*.rb
*.lock
*.ks

learn1/vagrant_kernel_update/packer/packer_cache/61977834855a4e5b7c1edf6727a675c32ad2f75b.iso
learn1/vagrant_kernel_update/packer/packer_cache/61977834855a4e5b7c1edf6727a675c32ad2f75b.iso.lock
learn1/vagrant_kernel_update/packer/packer_cache/afa7695602909b267b26b23c8aefe12db6ee78b2.iso.lock
learn1/vagrant_kernel_update/packer/packer_cache/port/3475
learn1/vagrant_kernel_update/packer/packer_cache/port/5909
